.workspace {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}
.post_card {
  margin: 20px 50px;
  border-radius: 11px;
  background-color: beige;
}
.taglist {
  margin: 0px 3px;
}
.alert_message {
  margin-top: 40px;
}
.form_design {
  width: 60%;
  margin-top: 40px;
  margin-left: 100px;
}
.description {
  width: 100%;
  height: 100px;
}
